{% set pl_tc = module.text_color == 'light' ? 'pl-rt--light' : 'pl-rt--dark' %}
{% set pl_align = module.align == 'center' ? 'pl-rt--center' : 'pl-rt--left' %}
{% set pl_size = module.size == 'small' ? 'pl-rt--small' : 'pl-rt--normal' %}
{% set pl_anchor = module.section_id|replace('#', '')|trim %}
{% set pl_rule = module.top_border ? ' pl-rt--topborder' : '' %}

<div class="moduleStyles pl-rt {{ pl_tc }} {{ pl_align }} {{ pl_size }}{{ pl_rule }}"{% if pl_anchor %} id="{{ pl_anchor }}"{% endif %}>
  <div class="bodyContainer">
    <div class="pl-rt__inner">
      {% inline_rich_text field="content" value="{{ module.content }}" %}
    </div>
  </div>
</div>


{% require_css %}
  <style>

    {% scope_css %}

      .moduleStyles{
        padding-top: {{ module.style.padding.padding_top }}px;
        padding-bottom: {{ module.style.padding.padding_bottom }}px;
        background-color: rgba({{ module.style.background_color.color|convert_rgb }}, {{ module.style.background_color.opacity / 100 }});
      }

      .pl-rt__inner{
        max-width: {{ module.max_width|default(850, true) }}px;
      }

      {# One class heavier than module.css so body_size wins on specificity,
         not on stylesheet order. #}
      .pl-rt.pl-rt--normal .pl-rt__inner p,
      .pl-rt.pl-rt--normal .pl-rt__inner li{
        font-size: {{ module.body_size|default(17, true) }}px;
      }

    
      /* hold V1 type at every width */
      @media screen and (max-width: 900px){
        {% if module.heading_size %}.pl-rt__inner h2{ font-size: {{ module.heading_size }}px; }{% endif %}
      }
      @media screen and (max-width: 600px){
        {% if module.heading_size %}.pl-rt__inner h2{ font-size: {{ module.heading_size }}px; }{% endif %}
      }

    
      /* V1 gutters at a flat 20px and has no breakpoint; the theme container
         jumps to 35px below 1300px, which narrows the measure by 30px on a
         tablet and 60px on a phone and re-wraps every paragraph. */
      @media screen and (max-width: 1300px){
        .bodyContainer{ padding-left: 20px; padding-right: 20px; }
      }

    {% end_scope_css %}

  </style>
{% end_require_css %}
